
<h2 id="blogHeading" class="blogPostsHeading">Add new blog post</h2>



<form id="blogID" action="/addnewblog" method="POST" role="form">
    <div class="form-group">
        <label for="">New Blog Post</label>
        <input id="blogTitle" style="margin-bottom: 2vh;" name="title" type="text" class="form-control" id="" placeholder="Blog title">
        <textarea id="blogBody" name="body" placeholder="Blog post"></textarea>
    </div>

    <button id="addblog" type="submit" class="btn btn-primary">Submit</button>
</form>


