body * {
    font-family: 'Courgette' !important;
}

.blogPostsHeading {
    border-bottom: 2px solid #000;
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 5vh;
}

.blogSection {
    h4 {
        margin-bottom: 6vh;
    }

    h3 {
        border-bottom: 2px solid #000;
        width: fit-content;
        padding-bottom: 5px;
    }

    &:hover {
        -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
        transition-duration: 0.5s;
    }

    transition-duration: 0.5s;
}